@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,600;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}


/* dark theme */

:root {
    --main-bg: hsl(235, 21%, 11%);
    --table-bg: hsl(235, 24%, 19%);
    --word-color: hsl(236, 33%, 92%);
}

[data-theme="light"] {
    --main-bg: hsl(0, 0%, 98%);
    --table-bg: hsl(0, 0%, 98%);
    --word-color: hsl(235, 19%, 35%);
}